body {
  background-color: rgb(49, 49, 49);
}

button {
  height: 100px;
  width: 100px;
  font-size: 25px;
}

.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}

.overlay {
  display: flex;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(36, 36, 36, 0.861);
}